{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Movies{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('movie.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for movie in movies %}
    <form method="post">
      <input style="display: none;" type="text" value="{{ movie.id }}" id="movie" name="movie">
      <article class="movie">
        <header>
          <div>
            <h1>{{ movie['title'] }}</h1>
            <div>id: {{  movie['id'] }}</div>
            <div class="about">Released on {{ movie['released'].strftime('%Y-%m-%d') }}</div>
            <div>Length: {{ movie['duration_in_hours'] }} hours</div>
          </div>
        </header>
        <p class="body">{{ movie['summary'] }}</p>
        <input type="submit" value="Delete">
      </article>
    </form>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}